<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata Kelompok</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/.png') }}" alt="Logo MyBiodata" class="logo">
            <h1>Biodata Kelompok</h1>
        </div>
    </header>
    
    <div class="container">
        <div class="profile">
            <img src="{{ url_for('static', filename='images/_n.jpg') }}" alt="Foto Profil ">
            <div class="info">
                <h2>Nama: Viky</h2>
                <p>NIM: 22.83.</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom..</p>
            </div>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Foto Profil ">
            <div class="info">
                <h2>Nama: Dio</h2>
                <p>NIM: 22.83.</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom.</p>
            </div>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Foto Profil">
            <div class="info">
                <h2>Nama: meylani</h2>
                <p>NIM: 22.83.</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom. </p>
            </div>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Foto Profil King ">
            <div class="info">
                <h2>Nama: joni</h2>
                <p>NIM: 22.83.</p>
                <p>Education: Teknik Komputer</p>
                <p>Penjelasan Singkat: Saya seorang mahasiswa dari Universitas Amikom. </p>
            </div>
        </div>
    </div>
</body>
</html>
